  
  .modal {
    position: absolute;
    left: calc(50% - 200px);
    top: calc(50% - 50px);
    height: 100px;
    width: 400px;
    background: #fff;
    text-align: center;
    z-index: 11;
  }

  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }